.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    color: #232222;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 10px rgb(179, 179, 179);
}
.logo{
    /* font-size: 22px; */
    /* padding: 12px 15px; */
    text-align: center;
    vertical-align: middle;
    /* font-weight: 700; */

}
.navMenu{
    padding: 12px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navMenu li {
    list-style: none;
    margin: 0 5px;

}
.navMenu li a  {
    text-decoration: none;
    padding: 5px 15px;
    font-size: 15px;
    color: rgb(9, 9, 9);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navMenu li a:hover{
    /* border-bottom: 2px solid white; */
    color: rgb(163, 161, 161);
}
.navMenu li a img{
    padding-right: 8px;
    vertical-align: middle;
}
.logButton{
    margin-left: auto;
    padding: 0px 3px;
}

.logButton a {
    text-decoration: none;
    color: black;
    background-color: #c7c5c5;
    padding: 3px 8px;
    outline: none;
    border-style: none;
    border: 1px solid rgb(129, 127, 127);
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    margin-right: 4px;
    font-size: 15px;
    font-weight: 600;
}

@media screen and (max-width : 600px) {
    .header{
        justify-content: space-between;
        padding: 3px;
    }
}