
/* This is style */
.notes{
    width: 40%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    padding: 10px 0;
   
    
    /* position: relative; */
}
@media screen and (max-width : 600px) {
    .notes{
        width: 90%;
        padding: 0;
        justify-content: space-around;
    }
}