
/* This is style */
.notes{
    width: 80vw;
    margin: 20px auto;
    display: flex;
    align-items:flex-start;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    /* position: relative; */
}